{% load static %}

{% if no_of_categories < 5 %}
    <button class="btn add-category" style="color: #fff; padding: 10px; background: #000; visibility:visible;">
      + Add Category
    </button>
    {% else %}
    <button class="btn add-category" style="color: #fff; padding: 10px; background: #000;" disabled>
      + Add Category
    </button>

    {% endif %}

    <div class="categories_display">
      {% for category in  categories %}
      
      <button class="sidebarLink-category">

        <div class="category-name">
          <p style="flex: 1" data-query="category_{{category}}">{{category}}</p>
          <img src="{% static 'img/icons/recycle-bin.png' %}" data-id="{{category.id}}"/>
        </div>

       
      </button>

      {% endfor %}