{% extends 'taskboard/base.html'%}
{% block  content %}
{% load static %}
<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');
</script>
<main>
    {% include "taskboard/sidebar.html" %}
    <div class="task-actions">
        <div class="create-task">
            <form action="{% url 'create-task' %}" method="post" id="createTaskForm">
                {% csrf_token %}
                {% for field in createTaskForm %}
                <div class="input-box">
                    <label for="id_{{field.name}}">{{field.label}}</label>
                    {{field}}
                </div>
                {% endfor %}
                <button class="btn" type="submit"> + Create Task</button>
            </form> 
        </div>

        <div class="task-operations-secondary">
            <form action="" method="post" id="taskForm-secondary">
                
            
            </form>
        </div>
        <div class="create-cat">
            <form action="{% url 'createCategory'  %}" method="post">
                {% csrf_token %}
                <div class="input-box">
                    <label for="createCat">Enter Category Name</label>
                    <input type="text" name='name' id='createCat' required>
                </div>
                <button class="btn" type="submit"> + Create Category</button>
            </form>
        </div>    
            
    </div>

    {% comment %} display Tasks {% endcomment %}
    <div class="displayTasks">
        <h1>Today's Task</h1>

            {% for task in myTasks  %}
                <div class="taskRow">
                    <div class="task-box">
                    
                        {% if task.status == 'COMPLETED' %}
                    
                        <p class="task-status completed" data-task_id="{{task.task_id}}">
                            <img src="{% static 'img/icons/checked.png' %}">
                        </p>
                        {% else %}
    
                        <p class="task-status" data-task_id="{{task.task_id}}">
                            <img src="{% static 'img/icons/unchecked.png' %}">
                        </p>
                        {% endif %}
                    <p class="task-title" data-id={{task.task_id}}>{{task.title|truncatechars:50}}</p>
                    <p class="due_date">{{task.due_date}}</p>
                    {% comment %} <p>{{task.status}}</p> {% endcomment %}
                    
                    
                    <p class="edit-task-button" data-task_id = "{{task.task_id}}">
                            <img src="{% static 'img/icons/edit-button.png' %}">
                    </p>

                    {% comment %} <p id="edit-task-{{task.task_id}}">
                        <a href="{% url 'update-task' task.task_id %}">
                            <img src="{% static 'img/icons/edit-button.png' %}"></a></p> {% endcomment %}

                    <p class="delete-task-button" data-task_id= "{{task.task_id}}">
                        <img src="{% static 'img/icons/recycle-bin.png' %}">
                    </p>
                    </div>
                    <div class="delete-task-confirm hidden">
                        <form action="{% url 'delete-task' task.task_id %}" method="post">
                            {% csrf_token %}
                            <button class='btn' type="submit">Confirm</button>
                        </form>
                        <a class='btn btn-cancel'>Cancel</a>
                    </div>
                </div>           
            {% endfor %}
            {% include "pagination.html" with queryset=myTasks no_of_pages=page_range type='task' %}
            
    </div>

    
</main>
<script src="{% static 'js/taskboard.js' %}"></script>

{% endblock content %}